.agent-profile-card-container {
  width: 100%;
  height: 400px;
  display: block;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-inputradius);
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg'),linear-gradient(to bottom, #bdc3c7 0%, #2c3e50 100%);
}
 
.agent-profile-card-container:hover {
  scale: 1.05;
}
 
.agent-profile-card-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.agent-profile-card-card-content {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
 
.agent-profile-card-card-content:hover {
  scale: 1.05;
}
 
.agent-profile-card-header {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.agent-profile-card-title {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: 60%;
  font-size: 32px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
 
.agent-profile-card-subtitle {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-size: 16px;
}
 
.agent-profile-card-footer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.agent-profile-card-button {
  font-size: 12px;
  align-self: flex-start;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: var(--dl-color-gray-black);
}
 
.agent-profile-card-text {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
}
 
.agent-profile-cardroot-class-name {
  flex: 1;
  max-width: 600px;
}
 
.agent-profile-cardroot-class-name1 {
  flex: 1;
  min-width: 550px;
  aspect-ratio: 16/9;
}
 
@media(max-width: 479px) {
  .agent-profile-cardroot-class-name1 {
    max-width: 100%;
  }
}
